.home, .about, .portfolio, .contact {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.home.ng-leave {
    opacity: 1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.about.ng-enter-active {
    top: 0;
}
.home.ng-leave {
    top: 0;
}
.home.ng-leave-active {
  opacity: 0;
  top: -100vh;
}
