.home, .about {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.about.ng-enter{
    top: 70%;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}
.home.ng-leave {
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

.about.ng-enter-active {
    top: 0;
}
.home.ng-leave {
    top: 0;
}
.home.ng-leave-active {
  opacity: 0;
}
