@font-face {
    font-family: 'dharma_gothic_cthin';
    src:url('public/font/dharma/dharmagothicc-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dharma_gothic_ethin';
    src: url('public/font/dharma/dharmagothice-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dharma_gothicX';
    src: url('public/font/dharma/dharmaGothicE-ExLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('public/font/GothamRnd-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothamM';
    src: url('public/font/GothamRnd-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
