@font-face {
    font-family: 'dharma_gothic_cthin';
    src:url('public/font/dharma/dharmagothicc-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dharma_gothic_ethin';
    src: url('public/font/dharma/dharmagothice-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('public/font/GothamRnd-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothamM';
    src: url('public/font/GothamRnd-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tungstenThin';
    src: url('public/font/TungstenComp-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tungstenLight';
    src: url('public/font/TungstenComp-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tungstenMedium';
    src: url('public/font/TungstenComp-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tungstenCLight';
    src: url('public/font/TungstenCond-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tungstenCThin';
    src: url('public/font/TungstenCond-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
