input, textarea {
  display: inline-block;
  appearance: none;
  width: 40vw;
  height: 6vh;
  border-radius: 5px 5px;
  border: none;
  background: rgba(0, 0, 0, .1);
  outline: none;
}
 textarea {
   height: 20vh;
   resize: none;
 }
 label {
   display: inline-block;
   float: left;
   text-align: right;
   width: 110px;
   padding-right: 1vh;
   margin-left: -110px;
 }

input[type="button"]{
  appearance: none;
  width: 39.6vw;
  background: $icy;
  background: -webkit-linear-gradient(to bottom, #E2EDF0, #CAD6D9);
  box-shadow: 0 1px 0 lighten($darkgrey, 30%), 0 2px 4px lighten($darkgrey, 30%), 0 1px 6px lighten($darkgrey, 30%);
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
input[type="button"]:active {
  box-shadow: 0 1px 0 lighten($darkgrey, 30%), 0 1px 2px lighten($darkgrey, 30%), 0 0 3px lighten($darkgrey, 30%);
  -webkit-transform: translateY(3px);
}
