body {
  overflow: hidden;
  .main {
    position: relative;
    top: 61.9vh;
  .menu {
    position: relative;
    bottom: 2vh;
  a {
    position: relative;
    display: inline-block;
    padding: 0 1.58vw;
  }
  }}
  h1.title {
    border-bottom: 1px solid $darkgrey;
  }

  .about, .portfolio, .contact {
    background: url(/build/img/other1_3.jpg)center;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
  .menu {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    padding: 5vh 0 2vh 0;
    border-bottom: 1px solid lighten($darkgrey, 37%);
    a {
      position: relative;
      display: inline-block;
      padding: 0 1.58vw;
    }
  }
    a {
      display: inline-block;
      padding-left: 1vh;
    }
  .container {
    .info {
      padding-top: 7vh;
      width: 40vw;
      height: 55vh;
      overflow: scroll;
      text-align: justify;
      margin-left: auto;
      margin-right: auto;
      section.first{
        width: 13vw;
        float: left;
        text-align: right;
        p.line1 {
          padding-right: 0px;
          }
        p.line2 {
          padding-right: 5px;
          }
        p.line3 {
          padding-right: 15px;
          }
        p.line4 {
          padding-right: 20px;
          }
        p.line5 {
          padding-right: 20px;
          }
        p.line6 {
          padding-right: 15px;
          }
        p.line7 {
          padding-right: 5px;
        }
        p.line8 {
          padding-right: 0px;
        }
        }
      section.second {
        float: left;
          h2 {
            margin-top: 10vh;
          }
        }
      img {
        width: 12vw;
        margin: 2vh;
        height: auto;
        border-radius: 150px 150px;
        box-shadow: 0 1px 2px lighten($darkgrey, 20%);
        float: left;
      }
    }
    .contacts {
      padding-top: 2vh;
      width: 50vw;
      padding-left: 29.8vw;
    }
    .figures {
      height: auto;
      width: 100%;
      margin-left: 16vh;
      margin-right: 16vh;
    figure {
      position: relative;
      margin: 5.5vh 2vw 0 0;
      padding: 0;
      float: left;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.05, 1.05);
         figcaption {
          height: 5vh;
          .hidden {
            display: block;
            left: 0;
          }
        }
      }
      img {
        width: 25vw;
        height: 25vh;
        cursor: pointer;
      }
      figcaption {
        position: absolute;
        padding: 0.5vh 1vh;
        bottom: 0;
        background: $darkgrey;
        color: white;
        width: 100%;
        height: 2.5vh;
        overflow: hidden;
        transition: all 0.5s ease;
        .hidden {
          transition: all 0.5s ease;
          position: relative;
          display: none;
          left: -10vh;
        }
      }
    }
    }
  }
  .footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 1vw;
    .left {
      float: left;
    }
    .right {
      float: right;
      margin-right: 2vh;
      position: relative;
      bottom: 5vh;
      .social {
        margin-top: -5vh;
        a {
          display: inline;
          img {
            width: 4vh;
            height: auto;
          }
        }
      }
    }
    i {
      display: inline-block;
      width: 30px;
      color: $red;
    }
  }
  }
}
