
@media (max-width: 720px) {
  #bgvid {
    display: none;
  }
  body {
    background: url(/build/img/other1_3.jpg)center;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
  .main {
    top: 60vh;
  }
  .about, .portfolio, .contact {
    .menu {
      border-bottom: 0px;
      width: 100vw;
    }
    .container {
      .info {
        width: 100vw;
        padding-left: 3vw;
        img {
          position: absolute;
          top: 41vw;
          margin: 0;
        }
        section.second {
          margin-top: 10vw;
          margin-left: 45vw;
        }
        section.first {
          display: none;
        }
      }
      .figures {
        overflow: scroll;
        margin-left: 30vw;
        margin: 0;
        padding: 0;
        figure {
          width: 46vw;
          img{
            width: 46vw;
            height: auto;
          }
        }
      }
    }
  }
    .footer {
      position: fixed;
      bottom: 0;
      padding: 0.5vh;
      .left {
        position: absolute;
        bottom: 1vh;
        left: -1vh;
        a {
          font-size: 0.6rem;
          line-height: 0.6rem;
          color: darken($darkgrey, 40%);
          i {
            margin-right: -15px;
          }
        }
      }
      .right {
        h1 {
          font-size: 1.6rem;
          position: absolute;
          top: -8.8vh;
          right: 0;
        }
        .social{
          width: 40vw;
          position: relative;
          bottom: -4.5vh;
          right: 0;
          a {
            img.icons {
              width: 2vh;
              height: auto;
            }
          }
        }
      }}
    }
  }
