body {
  overflow: hidden;
  font-family: 'dharma_gothic_cthin';
  color: $darkgrey;
  .menu {
    text-align: center;
    a.active {
      font-weight: bold;
      color: lighten($darkgrey, 37%);
    }
    .hover:hover {
	  color: $red;
    }
    .hover::before {
    	content: attr(data-hover);
    	position: absolute;
    	z-index: 2;
    	overflow: hidden;
    	color: $darkgrey;
    	white-space: nowrap;
    	height: 100%;
    	transition: height 0.4s 0.1s;
    }
    .hover:hover::before {
    	height: 0%;
    }
  }
  .container {
    label, textarea, h2 {
       line-height: 2rem;
       font-family: 'gotham';
       font-size: 1rem;
   }
   .info h2{
     font-family: 'dharma_gothic_ethin';
     font-weight: bold;
     font-size: 1.8rem;
     letter-spacing: 0.2rem;
   }
   .info p{
     line-height: 1rem;
     font-family: 'gotham';
   }
   input[type="button"] {
     font-family: 'gothamM';
   }
   input[type='text']{
     text-transform: uppercase;
   }
  }
  h1 {
    font-size: 3.7rem;
    padding-bottom: 1vh;
    letter-spacing: 0.04em;
    color: $red;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  a {
    font-family: 'dharma_gothic_ethin';
    text-decoration: none;
    color: $darkgrey;
    font-size: 1.5rem;
    letter-spacing: 0.09rem;
    display: inline-block;
  }
  i {
    font-size: 1rem;
  }
  figcaption {
    font-size: 0.5rem;
    font-family: 'gotham';
    text-transform: uppercase;
    .hidden {
      text-transform: lowercase;
    }
  }
}

.footer {
  font-size: 0;
  .left {
    padding: 2vh 0 0 3vh;
     a {
      color: $darkgrey;
      padding: 0 0 5px 0;
      font-family: 'gotham';
      font-size: 0.9rem;
      line-height: 1.3rem;
    }
  }
  .social {
    text-align: right;
  }
}
