body {
  font-family: 'dharma_gothic_cthin';
  color: $darkgrey;
  .menu {
    text-align: center;
    a.active {
      color: $red;
    }
  }
  h1 {
    font-size: 4.5rem;
    letter-spacing: 0.05em;
    color: $red;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  a {
    font-family: 'dharma_gothic_ethin';
    text-decoration: none;
    color: $darkgrey;
    font-size: 1.7em;
    letter-spacing: 0.04em;
  }
  i {
    font-size: 2rem;
  }
}

.footer {
  font-size: 0;
  .left {
    padding: 2vh 0 0 3vh;
     a {
      padding: 0 0 5px 0;
      font-family: 'gotham';
      font-size: 1rem;
    }
  }
  .social {
    text-align: right;
  }
}
