<div class="clearfix footer">
    <div class="left">
      <p>
        <a href="#"><i class="fa fa-phone"></i> (310) 925 8293</a >
      </p>
      <p>
        <a href="mailto:nowhere@mozilla.org"><i class="fa fa-envelope-o"></i> crisswear@gmail.com</a>
      </p>
      <p>
        <a href="https://github.com/CristinaFoltea"><i class="fa fa-github-alt"></i> github.com/CristinaFoltea</a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/cristinaswearingen">
          <i class="fa fa-linkedin"></i> linkedin.com/in/cristinaswearingen
        </a>
      </p>
    </div>
    <div class="right">
      <h1>Cristina Swearingen</h1>
      <section class="social">
        <a href="https://www.facebook.com/cristina.foltea"><img class="icons" src="public/img/fb.svg" alt="fb"></a>
        <a href="https://twitter.com/krisstina_f"><img class="icons" src="public/img/tw.svg" alt="tw"></a>
        <a href="https://instagram.com/krisstina_f"><img class="icons" src="public/img/is.svg" alt="ins"></a>
      </section>
    </div>
</div>
