@font-face {
  font-family: 'dharma_gothic_cthin';
  src: url("font/dharma/dharmagothicc-thin-webfont.eot");
  src: url("font/dharma/dharmagothicc-thin-webfont.eot?#iefix") format("embedded-opentype"), url("font/dharma/dharmagothicc-thin-webfont.woff2") format("woff2"), url("font/dharma/dharmagothicc-thin-webfont.woff") format("woff"), url("font/dharma/dharmagothicc-thin-webfont.ttf") format("truetype"), url("font/dharma/dharmagothicc-thin-webfont.svg#dharma_gothic_cthin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dharma_gothic_ethin';
  src: url("font/dharma/dharmagothice-thin-webfont.eot");
  src: url("font/dharma/dharmagothice-thin-webfont.eot?#iefix") format("embedded-opentype"), url("font/dharma/dharmagothice-thin-webfont.woff2") format("woff2"), url("font/dharma/dharmagothice-thin-webfont.woff") format("woff"), url("font/dharma/dharmagothice-thin-webfont.ttf") format("truetype"), url("font/dharma/dharmagothice-thin-webfont.svg#dharma_gothic_ethin") format("svg");
  font-weight: normal;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body header {
  text-align: center;
  margin-top: 10px;
  height: 40px; }

body h1.title {
  margin-top: 530px;
  border-bottom: 1px solid #566369; }

body a {
  text-decoration: none;
  padding: 35px; }

body {
  font-family: 'dharma_gothic_cthin'; }

h1.title {
  color: #566369;
  font-size: 5em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase; }

a {
  font-family: 'dharma_gothic_ethin';
  color: #566369;
  font-size: 1.7em;
  letter-spacing: 0.04em; }

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(img/mainBG.jpg) no-repeat;
  background-size: cover; }

@media screen and (max-device-width: 800px) {
  body {
    background: url(img/mainBG.jpg) no-repeat center center fixed;
    background-size: cover; }
  #bgvid {
    display: none; } }
