body {
  header {
    text-align: center;
    margin-top: 10px;
     height: 40px;
  }
  h1.title {
    margin-top: 530px;
    border-bottom: 1px solid $darkgrey;
  }
  a {
    text-decoration: none;
    padding: 35px;
  }
}
